.advantages {
  @include grid-container;

  margin-bottom: 42px;

  @media (min-width: $deviceTablet) {
    margin-bottom: 46px;
  }

  @media (min-width: $deviceDesktop) {
    margin-bottom: 11px;
  }
}

.advantages__title {
  grid-column: 2 / -2;
  margin-bottom: 41px;

  @media (min-width: $deviceTablet) {
    margin-bottom: 72px;
  }
}

.advantages__list {
  @include list-reset;

  display: grid;
  grid-column: 2 / -2;
  gap: 20px;
  counter-reset: number;

  @media (min-width: $deviceTablet) {
    grid-template-columns: repeat(2, 1fr);
    gap: 77px 58px;
  }

  @media (min-width: $deviceDesktop) {
    grid-template-columns: repeat(4, 250px);
    gap: 75px;
  }
}

.advantages__item {
  position: relative;
  box-sizing: border-box;
  min-height: 60px;
  padding-top: 2px;
  padding-bottom: 2px;
  padding-left: 80px;
  counter-increment: number;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 60px;
    height: 60px;
    background: center no-repeat $colorPrimary100;
  }

  &--nutrients {
    &::before {
      background-image: url("../img/advantages-nutrients.svg");
    }
  }

  &--powder {
    &::before {
      background-image: url("../img/advantages-powder.svg");
    }
  }

  &--dining {
    &::before {
      background-image: url("../img/advantages-dining.svg");
    }
  }

  &--clock {
    &::before {
      background-image: url("../img/advantages-clock.svg");
    }
  }

  @media (min-width: $deviceTablet) {
    min-height: 240px;
    padding: 111px 75px 0 0;

    &::before {
      width: 80px;
      height: 80px;
    }

    &::after {
      content: counter(number);
      position: absolute;
      top: -40px;
      right: 75px;
      z-index: -1;
      min-width: 136px;
      font: 280px/1 $fontFamilyTitle;
      color: $colorGrey;
    }
  }

  @media (min-width: $deviceDesktop) {
    padding-right: 0;

    &::after {
      right: 0;
    }
  }
}
