.button {
  display: inline-block;
  box-sizing: border-box;
  width: 100%;
  min-width: 280px;
  min-height: 40px;
  padding: 10px 20px;
  font: 16px/20px $fontFamilyTitle;
  vertical-align: middle;
  text-align: center;
  color: $colorWhite;
  text-transform: uppercase;
  overflow-wrap: break-word;
  border: none;
  background-color: $colorPrimary100;
  cursor: pointer;

  &:hover,
  &:focus {
    background-color: $colorPrimary200;
  }

  &:active {
    color: rgba($colorWhite, 0.3);
  }

  &--secondary {
    color: $colorGreyDarkSpecial100;
    background-color: $colorGrey;

    &:hover,
    &:focus {
      background-color: $colorBorder100;
    }

    &:active {
      color: rgba($colorGreyDarkSpecial100, 0.3);
    }
  }

  &--promo {
    padding-top: 11px;
    padding-bottom: 11px;
    font-size: 14px;
    line-height: 18px;
  }

  @media (min-width: $deviceTablet) {
    min-width: initial;

    &--promo {
      min-width: 244px;
      width: auto;
      padding-top: 17px;
      padding-bottom: 17px;
      font-size: 20px;
      line-height: 1;
    }

    &--form {
      padding-top: 16px;
      padding-bottom: 16px;
      font-size: 20px;
      line-height: 1;
    }
  }
}
