.button {
  display: inline-block;
  box-sizing: border-box;
  width: 100%;
  min-width: 280px;
  min-height: 40px;
  padding: 11px 20px;
  font: 16px/20px "Oswald", "Arial", sans-serif;
  vertical-align: middle;
  text-align: center;
  color: $colorWhite;
  text-transform: uppercase;
  overflow-wrap: break-word;
  border: none;
  background-color: $colorPrimary100;
  cursor: pointer;

  &:hover,
  &:focus {
    background-color: $colorPrimary200;
  }

  &:active {
    color: rgba($colorWhite, 0.3);
  }

  &--secondary {
    color: $colorGreyDarkSpecial100;
    background-color: $colorGrey;

    &:hover,
    &:focus {
      background-color: $colorBorder;
    }

    &:active {
      color: rgba($colorGreyDarkSpecial100, 0.3);
    }
  }

  &--small {
    font-size: 14px;
    line-height: 18px;
  }

  @media (min-width: $deviceTablet) {
    &--small {
      width: 244px;
      font-size: 20px;
      line-height: 1;
    }

    &--medium {
      font-size: 20px;
      line-height: 1;
    }
  }
}
