.catalog {
  margin-bottom: 25px;
  border-top: 1px solid $colorLine;
}

.catalog__title {
  margin-right: 20px;
  margin-left: 20px;
}

.catalog__list {
  display: grid;
  grid-auto-rows: min-content;
  border-top: 1px solid $colorBorder;
}
