.copyright {
  box-sizing: border-box;
  min-height: 78px;
  padding-top: 22px;
  padding-bottom: 22px;

  @media (min-width: $deviceTablet) {
    min-height: initial;
    width: 163px;
    padding-top: 0;
    padding-bottom: 0;
  }
}

.copyright__link {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  font-size: 16px;
  color: inherit;
  pointer-events: none;

  span {
    pointer-events: auto;
  }

  svg {
    color: $colorGreySpecial200;
    pointer-events: auto;
  }

  &:hover,
  &:focus {
    outline: none;

    svg {
      color: $colorPrimary100;
    }
  }

  &:active {
    opacity: 0.3;
  }

  @media (min-width: $deviceTablet) {
    pointer-events: auto;
  }
}
