.example {
  @include grid-container;

  padding-top: 29px;
  padding-bottom: 26px;
  background-color: $colorBorder100;

  @media (min-width: $deviceTablet) {
    position: relative;
    padding-top: 43px;
    padding-bottom: 33px;
    background: none;
    border-top: 1px solid $colorBorder200;

    &::before {
      content: "";
      position: absolute;
      right: 0;
      bottom: 0;
      left: 0;
      z-index: -1;
      height: 462px;
      background-color: $colorBorder100;
    }
  }

  @media (min-width: $deviceDesktop) {
    grid-template-columns: 1fr 490px 730px 1fr;
    padding-top: 0;
    padding-bottom: 0;
    border: none;

    &::before {
      background: linear-gradient(90deg, $colorGrey calc(50% + 690px), $colorBorder100 calc(50% + 690px));
    }
  }
}

.example__inner {
  grid-column: 2 / -2;
  margin-bottom: 42px;

  @media (min-width: $deviceTablet) {
    margin-bottom: 59px;
  }

  @media (min-width: $deviceDesktop) {
    grid-column: 2 / span 1;
    width: 436px;
    margin-bottom: 0;
    padding-top: 58px;
  }
}

.example__title {
  margin-bottom: 35px;

  @media (min-width: $deviceTablet) {
    margin-bottom: 63px;
  }

  @media (min-width: $deviceDesktop) {
    margin-bottom: 146px;
  }
}

.example__text {
  margin-top: 0;
  margin-bottom: 25px;

  @media (min-width: $deviceTablet) {
    margin-bottom: 54px;
  }

  @media (min-width: $deviceDesktop) {
    margin-bottom: 69px;
  }
}

.example__result {
  width: 280px;
  margin: 0 auto;

  @media (min-width: $deviceTablet) {
    display: flex;
    justify-content: space-between;
    width: 708px;
  }

  @media (min-width: $deviceDesktop) {
    display: block;
    width: auto;
    margin: 0;
  }
}

.example__list {
  display: flex;
  justify-content: space-between;
  margin-top: 0;
  margin-bottom: 18px;

  @media (min-width: $deviceTablet) {
    align-items: flex-start;
    width: 366px;
    margin-bottom: 0;
  }

  @media (min-width: $deviceDesktop) {
    margin-bottom: 49px;
  }
}

.example__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
  width: 124px;
  min-height: 56px;
  margin-bottom: 16px;
  padding-top: 14px;
  padding-right: 18px;
  padding-left: 18px;
  text-align: center;
  border: 1px solid $colorGreySpecial100;
  border-radius: 3px;

  @media (min-width: $deviceTablet) {
    width: 162px;
    min-height: 72px;
    margin-bottom: 6px;
    padding-top: 15px;
    padding-right: 10px;
    padding-left: 10px;
  }
}

.example__number {
  margin-bottom: 8px;
  font: 24px/1 $fontFamilyTitle;
  color: $colorBlack;
  text-transform: uppercase;

  @media (min-width: $deviceTablet) {
    margin-bottom: 10px;
    font-size: 30px;
    line-height: 37px;
  }
}

.example__description {
  box-sizing: border-box;
  max-width: 87px;
  margin-bottom: -16px;
  margin-left: 0;
  padding-right: 5px;
  padding-left: 5px;
  font-size: 12px;
  line-height: 1;
  background-color: $colorBorder100;

  @media (min-width: $deviceTablet) {
    min-width: 112px;
    max-width: initial;
    margin-bottom: -6px;
    font-size: 14px;
    background-color: $colorWhite;
  }

  @media (min-width: $deviceDesktop) {
    background-color: $colorGrey;
  }
}

.example__cost {
  margin-top: 0;
  margin-bottom: 0;
  font: 14px/20px $fontFamilyTitle;
  color: $colorBlack;
  text-align: center;
  text-transform: uppercase;

  @media (min-width: $deviceTablet) {
    width: 180px;
    margin-top: 6px;
    font-size: 20px;
    line-height: 1.5;
    text-align: right;
  }

  @media (min-width: $deviceDesktop) {
    display: flex;
    width: 328px;
    text-align: left;
  }
}

.example__cost-text {
  @media (min-width: $deviceDesktop) {
    margin-right: auto;
  }
}

.example__cost-total {
  @media (min-width: $deviceDesktop) {
    margin-left: 5px;
  }
}

.example__slider {
  grid-column: 1 / -1;

  @media (min-width: $deviceDesktop) {
    grid-column: -2 / -3;
    margin-bottom: 0;
    transform: translateX(80px);
  }
}
