.form {
  @include grid-container;

  margin-bottom: 30px;

  @media (min-width: $deviceTablet) {
    margin-bottom: 72px;

    @media (max-width: $deviceDesktop - 1) {
      grid-template-columns: 70px 1fr 67px;
    }
  }

  @media (min-width: $deviceDesktop) {
    margin-bottom: 82px;
  }
}

.form__header {
  grid-column: 2 / -2;
  margin-bottom: 35px;

  @media (min-width: $deviceTablet) {
    margin-bottom: 65px;
  }
}

.form__title {
  margin-bottom: 35px;
}

.form__description {
  font: 14px/18px $fontFamilyTitle;
  color: $colorBlack;
  text-transform: uppercase;

  @media (min-width: $deviceTablet) {
    width: 330px;
    font-size: 20px;
    line-height: 1.5;
  }
}

.form__main {
  grid-column: 1 / -1;
}

.form__fieldset {
  margin: 0;
  margin-bottom: 23px;
  padding: 0;
  border: none;

  &:last-child {
    margin-bottom: 0;
  }

  @media (min-width: $deviceTablet) {
    margin-bottom: 65px;
  }
}

.form__subtitle {
  width: 100%;
  margin-bottom: 35px;
}

.form__inner {
  @include grid-container;

  @media (min-width: $deviceTablet) {
    grid-template-columns: 70px 1fr 67px;
  }

  @media (min-width: $deviceDesktop) {
    grid-template-columns: 1fr repeat(2, 610px) 1fr;
  }
}

.form__fields {
  display: grid;
  grid-column: 2 / -2;
  gap: 14px;

  @media (min-width: $deviceDesktop) {
    &--narrow {
      grid-column-end: initial;
      width: 570px;
    }

    &--cols {
      grid-template-columns: repeat(2, 1fr);
      gap: 20px 80px;
    }
  }
}

.form__field {
  display: flex;
  align-items: center;
}

.form__label {
  font: 16px/18px $fontFamilyTitle;
  text-transform: uppercase;
  cursor: pointer;
  user-select: none;

  &--radio {
    position: relative;
    padding-left: 45px;
    color: $colorGreyDarkSpecial200;

    &::before {
      content: "";
      position: absolute;
      top: -6px;
      left: 0;
      width: 30px;
      height: 30px;
      border: 1px solid $colorGreySpecial100;
      border-radius: 50%;
    }

    &::after {
      position: absolute;
      top: 4px;
      left: 9px;
      width: 13px;
      height: 13px;
      background-color: $colorPrimary100;
      border-radius: 50%;
    }
  }

  &--checkbox {
    position: relative;
    padding-left: 45px;
    color: $colorBlack;

    &::before {
      content: "";
      position: absolute;
      top: -6px;
      left: 0;
      width: 30px;
      height: 30px;
      border: 1px solid $colorGreySpecial100;
    }

    &::after {
      position: absolute;
      top: -6px;
      left: 0;
      width: 30px;
      height: 30px;
    }
  }

  @media (min-width: $deviceTablet) {
    font-size: 20px;
    line-height: 1.5;
  }
}

.form__input {
  flex-grow: 1;
  margin-left: 13px;
  padding: 13px 15px;
  font: 16px/18px $fontFamilyTitle;
  color: inherit;
  text-transform: uppercase;
  border: 1px solid $colorBorder300;

  @media (min-width: $deviceTablet) {
    font-size: 20px;
    line-height: 1.5;
  }
}

.form__group {
  display: grid;
  box-sizing: border-box;
  gap: 13px;
  grid-column: 1 / -1;
  margin-top: 25px;
  padding: 20px;
  border: solid $colorLine;
  border-width: 1px 0;

  @media (min-width: $deviceTablet) {
    grid-column: 2 / -2;
    margin-top: 72px;
    border-width: 1px;
  }

  @media (min-width: $deviceDesktop) {
    grid-column-start: initial;
    justify-self: end;
    width: 570px;
    margin-top: 0;
  }
}

.form__option {
  position: relative;
  display: flex;
  align-items: center;
  min-height: 30px;
}

.form__radio {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  width: 30px;
  height: 30px;
  margin: 0;
  opacity: 0;
  cursor: pointer;

  &:checked + .form__label--radio {
    &::after {
      content: "";
    }
  }
}

.form__checkbox {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  width: 30px;
  height: 30px;
  margin: 0;
  opacity: 0;
  cursor: pointer;

  &:checked + .form__label--checkbox {
    &::after {
      content: "";
    }
  }
}

.form__textarea {
  flex-grow: 1;
  box-sizing: border-box;
  height: 150px;
  padding: 13px 15px;
  font: 16px/18px $fontFamilyTitle;
  color: inherit;
  text-transform: uppercase;
  border: 1px solid $colorBorder300;
  resize: none;

  @media (min-width: $deviceTablet) {
    font-size: 20px;
    line-height: 1.5;
  }
}

.form__options {
  display: grid;
  gap: 13px;
  grid-column: 2 / -2;
  margin-bottom: 35px;

  @media (min-width: $deviceTablet) {
    grid-template-columns: repeat(2, 1fr);
    gap: 32px 61px;
  }

  @media (min-width: $deviceDesktop) {
    grid-template-columns: repeat(4, 1fr);
    column-gap: 80px;
  }
}

.form__bottom {
  display: grid;
  grid-column: 2 / -2;
  gap: 20px;

  @media (min-width: $deviceTablet) {
    grid-template-columns: repeat(2, 1fr);
    column-gap: 61px;
  }

  @media (min-width: $deviceDesktop) {
    column-gap: 80px;
  }
}

.form__legend {
  color: $colorBlack;
  text-align: center;

  @media (min-width: $deviceTablet) {
    text-align: left;
  }
}
