.gift {
  position: relative;
  box-sizing: border-box;
  min-height: 289px;
  padding: 187px 58px 42px;
  background: url("../img/gift-mobile.jpg") center no-repeat $colorPrimary100;

  @media (min-resolution: 2dppx) {
    background-image: url("../img/gift-mobile@2x.jpg");
    background-size: 100% auto;
  }

  &::before {
    content: "";
    position: absolute;
    top: 58px;
    left: 50%;
    width: 78px;
    height: 80px;
    background: url("../img/gift-icon.svg") center / cover no-repeat;
    transform: translateX(-50%);
  }

  @media (min-width: $deviceTablet) {
    min-height: 200px;
    padding: 72px 120px 68px calc(50% + 69px);
    background-image: url("../img/gift-tablet@2x.jpg");

    @media (min-resolution: 2dppx) {
      background-image: url("../img/gift-tablet@2x.jpg");
    }

    &::before {
      top: 57px;
      left: 78px;
      width: 80px;
      height: 83px;
      transform: none;
    }
  }

  @media (min-width: $deviceDesktop) {
    width: 245px;
    padding: 187px 42px 42px;
    background-image: url("../img/gift-desktop@2x.jpg");

    @media (min-resolution: 2dppx) {
      background-image: url("../img/gift-desktop@2x.jpg");
      background-size: 245px auto;
    }

    &::before {
      top: 56px;
      left: 50%;
      transform: translateX(-50%);
    }
  }
}

.gift__description {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 16px;
  line-height: 20px;
  color: $colorWhite;
  text-align: center;

  @media (min-width: $deviceTablet) {
    text-align: left;
  }

  @media (min-width: $deviceDesktop) {
    text-align: center;
  }
}
