.page-header {
  position: relative;
  min-height: 65px;
  margin-bottom: 27px;
  background-color: $colorWhite;
  border-bottom: 1px solid $colorLine;

  &--index {
    margin-bottom: 22px;
    border: none;
  }

  @media (min-width: $deviceTablet) {
    min-height: 102px;
    margin-bottom: 39px;
    border: none;

    &--index {
      margin-bottom: 0;
    }
  }

  @media (min-width: $deviceDesktop) {
    min-height: 136px;
    margin-bottom: 23px;

    &--index {
      margin-bottom: 82px;

      &::before {
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 50%;
        background: url("../img/promo-bg-desktop.jpg") top left no-repeat $colorPrimary200;

        @media (min-resolution: 2dppx) {
          background-image: url("../img/promo-bg-desktop@2x.jpg");
          background-size: 1044px auto;
        }
      }
    }
  }
}

.page-header__wrapper {
  @include grid-container;

  grid-template-columns: 20px 191px 1fr 20px;
  grid-auto-rows: minmax(45px, auto);
  padding-top: 10px;
  padding-bottom: 10px;

  @media (min-width: $deviceTablet) {
    grid-template-columns: 30px 174px 1fr 30px;
    grid-auto-rows: minmax(54px, auto);
    padding-top: 24px;
    padding-bottom: 24px;
  }

  @media (min-width: $deviceDesktop) {
    grid-template-columns: 1fr repeat(2, 610px) 1fr;
    grid-auto-rows: minmax(59px, auto);
    padding-top: 53px;
    padding-bottom: 53px;
  }
}

.page-header__logo {
  grid-column-start: 2;
  place-self: start;

  img {
    display: block;
    width: 191px;
    height: 38px;
  }

  &[href] {
    &:hover,
    &:focus {
      outline: none;
      opacity: 0.8;
    }

    &:active {
      opacity: 0.6;
    }
  }

  @media (min-width: $deviceTablet) {
    img {
      width: 174px;
      height: 52px;
    }
  }

  @media (min-width: $deviceDesktop) {
    img {
      width: 202px;
      height: 59px;
    }
  }
}

.page-header__main-nav {
  @media (min-width: $deviceTablet) {
    margin-left: 90px;
  }

  @media (min-width: $deviceDesktop) {
    margin-left: 0;
  }
}
