.page-header {
  position: relative;
  box-sizing: border-box;
  min-height: 65px;
  padding-top: 10px;
  background-color: $colorWhite;
}

.page-header__wrapper {
  display: grid;
  grid-template-columns: 20px 1fr 20px;
  grid-template-rows: 45px 10px auto;
}

.page-header__logo {
  grid-column-start: 2;
  grid-row-start: 1;
  place-self: start;
  width: 191px;
  height: 38px;

  img {
    display: block;
  }
}
