.page-footer {
  @include grid-container;
  background-color: $colorGrey;

  @media (min-width: $deviceTablet) {
    padding-top: 55px;
    padding-bottom: 61px;
  }
}

.page-footer__wrapper {
  grid-column: 2 / -2;

  @media (min-width: $deviceTablet) {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.page-footer__logo {
  display: flex;
  height: 95px;
  border-bottom: 1px solid $colorLine;

  img {
    margin: auto;
  }

  @media (min-width: $deviceTablet) {
    width: 128px;
    height: 24px;
    border: none;
  }
}
