.page-header {
  position: relative;
  box-sizing: border-box;
  min-height: 65px;
  margin-bottom: 22px;
  background-color: $colorWhite;

  &--inner {
    margin-bottom: 25px;
    border-bottom: 1px solid $colorLine;
  }

  @media (min-width: $deviceTablet) {
    min-height: 102px;

    &--inner {
      margin-bottom: 40px;
      border: none;
    }
  }

  @media (min-width: $deviceDesktop) {
    min-height: 136px;
    margin-bottom: 82px;

    &--index {
      &::before {
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 50%;
        background: url("../img/promo-bg-mobile.png") top / auto 302px no-repeat $colorPrimary100;
      }
    }

    &--inner {
      margin-bottom: 30px;
    }
  }
}

.page-header__wrapper {
  @include grid-container;

  grid-template-rows: 45px 10px auto;
  padding-top: 10px;

  @media (min-width: $deviceTablet) {
    grid-template-columns: 30px 174px 1fr 30px;
    grid-template-rows: 54px;
    padding-top: 24px;
    padding-bottom: 24px;
  }

  @media (min-width: $deviceDesktop) {
    grid-template-columns: 1fr repeat(2, 610px) 1fr;
    grid-template-rows: 59px;
    padding-top: 53px;
  }
}

.page-header__logo {
  grid-column-start: 2;
  grid-row-start: 1;
  place-self: start;
  width: 191px;
  height: 38px;

  img {
    display: block;
  }

  @media (min-width: $deviceTablet) {
    width: 174px;
    height: 52px;
  }

  @media (min-width: $deviceDesktop) {
    width: 202px;
    height: 59px;
  }
}

.page-header__main-nav {
  @media (min-width: $deviceTablet) {
    margin-left: 90px;
  }

  @media (min-width: $deviceDesktop) {
    margin-left: 0;
  }
}
