.page {
  font: 14px/18px "Arial", sans-serif;
  color: $colorGreyDarkSpecial100;
}

.page__body {
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  min-height: 100vh;
  margin: 0;
  min-width: 320px;
  background-color: $colorWhite;
}
