.page-footer {
  @include grid-container;
  background-color: $colorGrey;
}

.page-footer__wrapper {
  grid-column: 2 / -2;
}

.page-footer__logo {
  display: flex;
  height: 95px;
  border-bottom: 1px solid $colorLine;

  img {
    margin: auto;
  }
}
