.product {
  box-sizing: border-box;
  padding: 20px 20px 24px;
  border-bottom: 1px solid $colorBorder100;

  @media (min-width: $deviceTablet) {
    padding: 8px 36px 39px;
    background-image: linear-gradient(transparent 81px, $colorGrey 81px);
    border: none;
  }

  @media (min-width: $deviceDesktop) {
    // padding: 1px 39px 40px;
    padding-top: 1px;
    padding-bottom: 40px;
  }
}

.product__inner {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  row-gap: 12px;
  max-width: 560px;
  margin-right: auto;
  margin-left: auto;

  @media (min-width: $deviceTablet) {
    display: flex;
    flex-direction: column;
    row-gap: initial;
    max-width: initial;
    height: 100%;
    margin-right: 0;
    margin-left: 0;
  }

  @media (min-width: $deviceDesktop) {
    align-items: center;
  }
}

.product__image {
  justify-self: center;

  img {
    display: block;
    width: 140px;
    height: 112px;
    object-fit: contain;
    object-position: top;
  }

  &:focus {
    outline: none;
  }

  @media (min-width: $deviceTablet) {
    justify-self: initial;
    margin-bottom: 34px;

    img {
      width: 168px;
      height: 200px;
    }
  }

  @media (min-width: $deviceDesktop) {
    margin-bottom: 41px;

    img {
      width: 172px;
      height: 202px;
    }
  }
}

.product__info {
  @media (min-width: $deviceTablet) {
    margin-bottom: auto;
  }

  @media (min-width: $deviceDesktop) {
    width: 167px;
  }
}

.product__name {
  width: 60%;
  margin-top: 0;
  margin-bottom: 14px;
  font: 400 16px/20px $fontFamilyTitle;
  color: $colorGreyDarkSpecial200;
  text-transform: uppercase;

  a {
    color: inherit;

    &:hover,
    &:focus {
      outline: none;
      opacity: 0.8;
    }

    &:active {
      opacity: 0.6;
    }
  }

  @media (min-width: $deviceTablet) {
    width: 68%;
    margin-right: auto;
    margin-bottom: 13px;
    margin-left: auto;
    font-size: 20px;
    line-height: 1.2;
    text-align: center;
  }

  @media (min-width: $deviceDesktop) {
    width: auto;
    margin-bottom: 17px;
    line-height: 21px;
  }
}

.product__features {
  width: 100%;
  border-collapse: collapse;
  font-size: 12px;
  line-height: 16px;

  th {
    padding: 0;
    font-weight: 400;
    text-align: left;
  }

  td {
    padding: 0;
    text-align: right;
  }

  @media (min-width: $deviceTablet) {
    font-size: 16px;

    tr {
      border-bottom: 1px solid $colorGreySpecial100;
    }

    th,
    td {
      padding: 8px 2px 7px;
    }
  }

  @media (min-width: $deviceDesktop) {
    th,
    td {
      padding-right: 1px;
      padding-left: 1px;
    }
  }
}

.product__button {
  grid-column: 1 / -1;

  @media (min-width: $deviceTablet) {
    margin-top: 33px;
  }

  @media (min-width: $deviceDesktop) {
    max-width: 167px;
  }
}
