.product-upsell {
  display: grid;
  padding-top: 13px;
  padding-bottom: 19px;
  border-bottom: 1px solid $colorGreySpecial100;

  @media (min-width: $deviceTablet) {
    grid-template-columns: repeat(2, 1fr);
    padding: 26px 38px 28px;

    @media (max-width: $deviceDesktop - 1) {
      &:last-child {
        border: none;
      }
    }
  }

  @media (min-width: $deviceDesktop) {
    grid-template-columns: 304px 306px 244px;
    align-items: center;
    column-gap: 20px;
    padding: 15px 0 17px;
  }
}

.product-upsell__name {
  margin-top: 0;
  margin-bottom: 0;
  font: 400 16px/1 $fontFamilyTitle;
  color: $colorGreyDarkSpecial200;
  text-transform: uppercase;

  a {
    color: inherit;
  }

  @media (min-width: $deviceTablet) {
    font-size: 20px;
  }
}

.product-upsell__features {
  width: 100%;
  border-collapse: collapse;
  line-height: 14px;

  th {
    font-weight: 400;
    text-align: left;
  }

  td {
    text-align: right;
  }

  @media (min-width: $deviceTablet) {
    justify-self: end;
    width: auto;
    line-height: 1.5;

    th {
      text-align: right;
    }

    td {
      width: 90px;
    }
  }

  @media (min-width: $deviceDesktop) {
    justify-self: initial;
    width: 100%;

    th {
      text-align: left;
    }

    td {
      width: 62px;
      text-align: left;
    }
  }
}

.product-upsell__button {
  @media (min-width: $deviceTablet) {
    grid-column: 1 / -1;
  }

  @media (min-width: $deviceDesktop) {
    grid-column: -1 / -2;
  }
}
