.product-upsell {
  padding-top: 13px;
  padding-bottom: 18px;
  border-bottom: 1px solid $colorGreySpecial100;

  @media (min-width: $deviceTablet) {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    row-gap: 19px;
    padding: 25px 38px 28px;

    @media (max-width: $deviceDesktop - 1) {
      &:last-child {
        border: none;
      }
    }
  }

  @media (min-width: $deviceDesktop) {
    grid-template-columns: 304px 306px 244px;
    align-items: center;
    column-gap: 20px;
    padding: 15px 0 16px;
  }
}

.product-upsell__name {
  margin-top: 0;
  margin-bottom: 13px;
  font: 400 16px/1 $fontFamilyTitle;
  color: $colorGreyDarkSpecial200;
  text-transform: uppercase;

  a {
    color: inherit;

    &:hover,
    &:focus {
      opacity: 0.8;
    }

    &:active {
      opacity: 0.6;
    }
  }

  @media (min-width: $deviceTablet) {
    margin-bottom: 0;
    font-size: 20px;
  }
}

.product-upsell__features {
  width: 100%;
  margin-bottom: 15px;
  border-collapse: collapse;
  line-height: 14px;

  th {
    padding: 0;
    font-weight: 400;
    text-align: left;
  }

  td {
    padding: 0;
    text-align: right;
  }

  @media (min-width: $deviceTablet) {
    justify-self: end;
    width: auto;
    margin-top: 2px;
    margin-bottom: 0;
    line-height: 1.5;

    th {
      text-align: right;
    }

    td {
      width: 92px;
    }
  }

  @media (min-width: $deviceDesktop) {
    justify-self: initial;
    width: 100%;
    margin-top: 8px;

    th {
      text-align: left;
    }

    td {
      width: 62px;
      text-align: left;
    }
  }
}

.product-upsell__button {
  @media (min-width: $deviceTablet) {
    grid-column: 1 / -1;
  }

  @media (min-width: $deviceDesktop) {
    grid-column: -1 / -2;
  }
}
