.product-more {
  position: relative;
  box-sizing: border-box;
  padding: 78px 20px 24px;
  border-bottom: 1px solid $colorBorder100;

  &::before {
    content: "";
    position: absolute;
    top: 25px;
    left: 50%;
    width: 30px;
    height: 30px;
    background-image:
      linear-gradient(transparent 14px, $colorPlus 14px, $colorPlus 16px, transparent 16px),
      linear-gradient(90deg, transparent 14px, $colorPlus 14px, $colorPlus 16px, transparent 16px);
    transform: translateX(-50%);
  }

  @media (min-width: $deviceTablet) {
    padding: 243px 36px 38px;
    border: none;

    &::before {
      top: 135px;
      width: 60px;
      height: 60px;
      background-image:
        linear-gradient(transparent 29px, $colorPlus 29px, $colorPlus 31px, transparent 31px),
        linear-gradient(90deg, transparent 29px, $colorPlus 29px, $colorPlus 31px, transparent 31px);
    }

    &::after {
      content: "";
      position: absolute;
      top: 82px;
      right: 0;
      bottom: 0;
      left: 0;
      border: 2px solid $colorGrey;
      pointer-events: none;
    }
  }

  @media (min-width: $deviceDesktop) {
    padding-top: 242px;
    padding-bottom: 41px;

    &::before {
      top: 133px;
    }

    &::after {
      top: 81px;
    }
  }
}

.product-more__inner {
  display: flex;
  flex-direction: column;
  max-width: 560px;
  margin-right: auto;
  margin-left: auto;

  @media (min-width: $deviceTablet) {
    max-width: initial;
    height: 100%;
    margin-right: 0;
    margin-left: 0;
  }
}

.product-more__info {
  margin-bottom: 21px;
  text-align: center;

  @media (min-width: $deviceTablet) {
    width: 68%;
    margin-right: auto;
    margin-bottom: auto;
    margin-left: auto;
  }

  @media (min-width: $deviceDesktop) {
    width: auto;
  }
}

.product-more__title {
  margin-top: 0;
  margin-bottom: 8px;
  font: 400 16px/20px $fontFamilyTitle;
  color: $colorGreyDarkSpecial300;
  text-transform: uppercase;

  @media (min-width: $deviceTablet) {
    margin-bottom: 24px;
    font-size: 20px;
    line-height: 1.1;
  }

  @media (min-width: $deviceDesktop) {
    line-height: 22px;
  }
}

.product-more__text {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 12px;
  line-height: 16px;

  @media (min-width: $deviceTablet) {
    font-size: 16px;
    line-height: 18px;
  }
}

.product-more__button {
  @media (min-width: $deviceTablet) {
    margin-top: 30px;
  }
}
