.product-more {
  display: flex;
  box-sizing: border-box;
  flex-direction: column;
  padding: 20px 20px 25px;
  border-bottom: 1px solid $colorBorder;

  @media (min-width: $deviceTablet) {
    padding: 0 36px 39px;
    border: 2px solid $colorGrey;
  }
}

.product-more__info {
  margin-bottom: auto;
  text-align: center;
}

.product-more__title {
  font: 400 16px/20px $fontFamilyTitle;
  color: $colorGreyDarkSpecial300;
  text-transform: uppercase;

  a {
    color: inherit;
  }

  @media (min-width: $deviceTablet) {
    font-size: 20px;
    line-height: 1.2;
  }

  @media (min-width: $deviceDesktop) {
    line-height: 22px;
  }
}

.product-more__text {
  font-size: 12px;
  line-height: 16px;

  @media (min-width: $deviceTablet) {
    font-size: 16px;
    line-height: 18px;
  }
}

.product-more__button {
  width: 100%;
}
