.promo {
  @include grid-container;

  position: relative;
  min-height: 480px;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    height: 302px;
    background: url("../img/promo-bg-mobile.jpg") calc(50% - 34px) 0 no-repeat $colorPrimary200;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/promo-bg-mobile@2x.jpg");
      background-size: 563px auto;
    }
  }

  &::after {
    content: "";
    position: absolute;
    right: 0;
    bottom: 43px;
    left: 0;
    height: 270px;
    background: url("../img/promo-can-mobile.png") center no-repeat;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/promo-can-mobile@2x.png");
      background-size: 280px auto;
    }
  }

  @media (min-width: $deviceTablet) {
    min-height: 848px;

    &::before {
      content: none;
    }

    &::after {
      bottom: 0;
      height: 609px;
      background-image: url("../img/promo-can-tablet.png");

      @media (min-resolution: 2dppx) {
        background-image: url("../img/promo-can-tablet@2x.png");
        background-size: 709px auto;
      }
    }
  }

  @media (min-width: $deviceDesktop) {
    min-height: 529px;

    &::after {
      right: calc(50% - 390px);
      bottom: 54px;
      left: auto;
      width: 552px;
      height: 499px;
      background-image: url("../img/promo-can-desktop.png");

      @media (min-resolution: 2dppx) {
        background-image: url("../img/promo-can-desktop@2x.png");
        background-size: 552px auto;
      }
    }
  }
}

.promo__wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  grid-column: 2 / -2;
  margin-top: 27px;
  text-align: center;

  @media (min-width: $deviceTablet) {
    display: block;
    z-index: 1;
    width: 420px;
    margin-top: 38px;
    margin-left: 90px;
    text-align: left;
  }

  @media (min-width: $deviceDesktop) {
    margin-top: 58px;
    margin-left: 80px;
  }
}

.promo__title {
  margin-bottom: 25px;
  color: $colorWhite;

  @media (min-width: $deviceTablet) {
    margin-bottom: 41px;
    color: $colorBlack;
  }

  @media (min-width: $deviceDesktop) {
    margin-bottom: 40px;
  }
}

.promo__slogan {
  margin-top: 0;
  margin-bottom: auto;
  font: 14px/1 $fontFamilyTitle;
  color: $colorWhite;
  text-transform: uppercase;

  @media (min-width: $deviceTablet) {
    margin-bottom: 49px;
    font-size: 20px;
    color: $colorBlack;
  }

  @media (min-width: $deviceDesktop) {
    margin-bottom: 52px;
  }
}

.promo__button {
  margin-top: 25px;

  @media (min-width: $deviceTablet) {
    margin-top: 0;
  }
}
