.promo {
  position: relative;
  margin-bottom: 22px;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    z-index: -1;
    height: 302px;
    background: url("../img/promo-bg-mobile.png") top / auto 302px no-repeat $colorPrimary100;
  }
}

.promo__wrapper {
  min-height: 480px;
  line-height: 1;
  font-family: "Oswald", "Arial", sans-serif;
  text-align: center;
  color: $colorWhite;
  background: url("../img/promo-can-mobile.png") center bottom 40px / 280px no-repeat;
}

.promo__title {
  font-weight: normal;
  font-size: 36px;
}

.promo__slogan {
  font-size: 14px;
  text-transform: uppercase;
}
