.socials {
  display: flex;
  height: 63px;
  border-bottom: 1px solid $colorLine;

  @media (min-width: $deviceTablet) {
    height: auto;
    border: none;
  }
}

.socials__list {
  display: grid;
  grid-template-columns: repeat(3, 23px);
  justify-content: space-between;
  row-gap: 20px;
  width: 130px;
  margin: auto;
}

.socials__link {
  width: 23px;
  height: 23px;
}
