.upsell {
  @include grid-container;

  margin-bottom: 35px;

  @media (min-width: $deviceTablet) {
    margin-bottom: 76px;
  }

  @media (min-width: $deviceDesktop) {
    margin-bottom: 85px;
  }
}

.upsell__title {
  grid-column: 1 / -1;
  margin-bottom: 33px;

  @media (min-width: $deviceTablet) {
    margin-bottom: 80px;
  }
}

.upsell__wrapper {
  display: grid;
  grid-column: 2 / -2;
  row-gap: 36px;

  @media (min-width: $deviceTablet) {
    row-gap: 68px;
  }

  @media (min-width: $deviceDesktop) {
    grid-template-columns: 896px 245px;
    column-gap: 79px;
  }
}

.upsell__list {
  border-top: 1px solid $colorGreySpecial100;

  @media (min-width: $deviceTablet) {
    border: 1px solid $colorGreySpecial100;
  }

  @media (min-width: $deviceDesktop) {
    border: none;
    border-top: 1px solid $colorGreySpecial100;
  }
}
