// Цвета
$colorPrimary100: #68b738;
$colorPrimary200: #5eaa2f;

$colorWhite: #ffffff;
$colorBlack: #000000;

$colorGrey: #f2f2f2;

$colorGreySpecial100: #cdcdcd;
$colorGreySpecial200: #666666;
$colorGreyDarkSpecial100: #444444;
$colorGreyDarkSpecial200: #222222;
$colorGreyDarkSpecial300: #111111;

$colorBorder100: #ebebeb;
$colorBorder200: #e6e6e6;
$colorBorder300: #e7e7e7;

$colorLine: #d9d9d9;
$colorRange: #dcdcdc;
$colorPlus: #d3d3d3;

// Шрифты
$fontFamilyTitle: "Oswald", "Arial", sans-serif;

// Брейкпоинты
$deviceTablet: 768px;
$deviceDesktop: 1330px;
